@font-face {
    font-family: 'Candara';
    src: url('/fonts/candara/Candara.ttf') format('truetype');
    font-display: swap;
}

footer {
    background-color: #010101;
    color: #fff;
    position:fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 100px;
    font-family: 'Candara', sans-serif;
    text-align: center;
}
li{
    padding: 30px;
}
ul{
    padding: 5px;
}
  
  .social a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
  }
  
  .social a:last-child {
    margin-right: 0;
  }
  
  .social a:hover {
    color: #FFBF4D;
  }
  
  .fa-facebook {
    color: #FFFFFF;
  }
  
  .fa-twitter {
    color: #FFFFFF;
  }
  
  .fa-instagram {
    color: #FFFFFF;
  }

  .copyright{
    padding: 10px;
  }
  
  @media (max-width: 767px) {
    .social {
      margin-bottom: 20px;
    }
  }
  