/*  ----------- Fonts ----------- */
@font-face {
    font-family: 'Wizard';
    src: url('./fonts/wizard/WizardWorld-Simplified.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Candara';
    src: url('./fonts/candara/Candara.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Candara';
    src: url('/fonts/candara/Candara.ttf') format('truetype');
    font-display: swap;
}

/*----------- Reset------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

small {
    font-size: 0.7rem;
}

/* -------- Body and Main -------- */
body {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    margin:auto;
    z-index: 0;
    background-color: #300B2C;
    font-family: 'Candara', sans-serif;
}

/* -------- Scroll Bar -------- */
/* Estilize a barra de rolagem */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
background-color: #555;
border-radius: 10px;
}

body::-webkit-scrollbar-track {
background-color: #383737;
}

main {
    font-family: 'Candara', sans-serif;
    font-size: 18px;
    margin: auto 1rem;
}

/* Position title text */
.main_section {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#home-page {
    height: 30%;
}
/* -------- Navigation bar ------- */

  .header-main {
    display: flex;
    /* max-width: 1140px; */
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0px;
    z-index: 3;
    transition: all 0.5s;
    color: white;
  }
  
  .header-background {
    display: flex;
    position: fixed;
    left:0;
    width: 100%;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37,29,29,0.44)), 
    url('https://res.cloudinary.com/drjyg98uv/image/upload/v1682682847/wider-world-web/concepto-libro-cuento-hadas-magi_lmmcca.jpg');
    background-position: top;
    margin-bottom: 100%;
  }

 .header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    z-index: 5;
  }
  .header-main {
    position: fixed;
  }

.header-main .header-menu a:not(:last-child){
    color: white;
    margin-left: 0px;
    margin-right: 20px;
    transition-duration: 0.4s;
    letter-spacing: 0.5px;
}

.header-main .header-menu a:not(:last-child):hover {
    border-bottom: 2px solid white;
}

.header-main .header-menu .btn-signup {
    color: white;
    margin-left: 20px;
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}
.header-main .header-menu .btn-signup:hover {
    background: white;
    color: #2e2c2c;
}

.header-menu>.btn-yellow {
    font-size: 0.8rem;
    border: none;
}

.header-logo h2 {
    color: aliceblue;
    font-family: 'Wizard', sans-serif;
    display:block;
    position: relative;
    z-index: 4;
    font-size: 2rem;
}

/* -------- main login & signup -------- */
.main_section .btn-box {
    margin-top: 30px;
    display:block;
    position: relative;
    z-index: 2;
}

.main_section .cta-btn {
    background: white;
    font-size: 0.9rem;
    margin-right: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    color:#2e2c2c;
    z-index: 2;
}

.main_section .cta-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    z-index: 2;
}

.main_section .login {
    background: transparent;
    border: 1px solid white;
    color: white;
    z-index: 2;
}

/*  -------- Title - text -------- */

#logo-hero-img {
    font-size: 3rem;
    margin-top: 1.5rem;
}

.magic_txt .hero-heading {
    font-family: 'Wizard', serif;
    font-size: 2.5rem;
    line-height: 65px;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: white;
    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.magic_txt span {
    font-size: 50px;
    line-height: 65px;
    font-family: 'Wizard', serif;
    animation-name: brillo;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display:inline-block;
    position: relative;
    margin-right: 10px;
    letter-spacing: -12px;
    z-index: 1;
}

/* --------- Animation effects: txt --------- */
.hide-text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .show-text {
    opacity: 1;
  }

.magic_txt {
    --colorBlack: #040306;
    --colorGold: #ee9207;
    --colorWhite: white;
}

.magic_txt span:nth-of-type(1) {
    animation-delay: 0.50s;
}
.magic_txt span:nth-of-type(2) {
    animation-delay: 0.8s;
}
.magic_txt span:nth-of-type(3) {
    animation-delay: 1.1s;
}
.magic_txt span:nth-of-type(4) {
    animation-delay: 1.4s;
}
.magic_txt span:nth-of-type(5) {
    animation-delay: 1.7s;
}

@keyframes brillo {
    0% {
        color: #d2a233;
        text-shadow: 0 0 12px var(--colorGold),
         0 0 50px var(--colorGold),
         0 0 10px var(--colorGold);
    }
    10%, 90% {
        color: var(--colorWhite);
        text-shadow: none;
    }
}

/* --------- Animation effects: Clouds move --------- */

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.main_background,/*.stars, .twinkling,*/ .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.main_background{
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37,29,29,0.44)), 
    url('https://res.cloudinary.com/drjyg98uv/image/upload/v1682682847/wider-world-web/concepto-libro-cuento-hadas-magi_lmmcca.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.home_background {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 35%;
    padding-bottom: 2rem;
    position: fixed;
}

.clouds{
    background:transparent url(img/clouds.png) repeat top center;
    z-index:1;
    opacity: .6;
    animation-duration: 800s;
    animation:move-clouds-back 150s linear infinite;
}

/*----------------- HOME PAGE -------------------------------- */
/* Cards */
/* FORM SEARCH */
.form-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}
.form-search > input {
    background: rgba(9, 8, 8, 0.6);
    padding: 9px 16px;
    color: #7B7B7B;
    font-size: 13px;
    box-shadow: none; 
}

.form-search > input::placeholder, .form-search > input[type="date"]::placeholder {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 12px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.results>.card {
    width: 90%;
    background: hsla(0, 0%, 100%, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Shadow cards */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    filter: brightness(0.7);
    z-index: 0; 
}

.results>.card:hover {
    filter:brightness(1)
}

.results div:nth-child(2){
    padding: 2rem;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}
.image>img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.btn-yellow {
    background: #FFB82E;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #141313;
}

.btn-yellow:hover {
    background-color: #904949;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-cards {
    margin-top: 2rem;
}

.card>div>h2{
    font-family: 'Wizard', serif;
    color: white; 
    font-weight: 400;
   }

   .card>div>p{
    color: white; 
    font-weight: 400;
   }

   footer {
    background-color: #010101;
    color: #fff;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 100px;
    font-family: 'Candara', sans-serif;
    text-align: center;
    margin-top: 2rem;
}

li{
    padding: 10px;
    list-style-type: none;
}
ul{
    padding: 5px;
}
  
  .social a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
  }
  
  .social a:last-child {
    margin-right: 0;
  }
  
  .social a:hover {
    color: #FFBF4D;
  }
  
  .fa-facebook {
    color: #FFFFFF;
  }
  
  .fa-twitter {
    color: #FFFFFF;
  }
  
  .fa-instagram {
    color: #FFFFFF;
  }

  .copyright{
    padding: 10px;
  }

/* ABOUT */
/*  ---------------------ABOUT US PAGE-------------------------- */

.black_navbar {
    display: flex;
    position: fixed;
    left:0;
    width: 100%;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
    background: black;
    background-position: top;
    z-index: 1;
    margin-bottom: 100%;
}

.main_about {
    padding: 200px 100px 100px;
    display: flex;
    justify-content: space-around;
    color:white;
}

.about_txt {
    animation:scale-up-center 0.4s;
}
/* Animation about_txt */
@keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }
.about_txt h2 {
    font-family: 'Wizard', serif;
}

.lib_image {
  width: 95%;
  margin-right: 60px;
  margin-bottom: 10px;
  animation:bounce-bottom .9s linear both
}

/* animation lib_image */
@keyframes bounce-bottom{0%{transform:translateY(45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(24px);animation-timing-function:ease-in}65%{transform:translateY(12px);animation-timing-function:ease-in}82%{transform:translateY(6px);animation-timing-function:ease-in}93%{transform:translateY(4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

.lib_image img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.our_team {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team_member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.team_member img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
  }

  .team_member img:hover {
    animation:rotate-center 0.4s;
  }

  /* Animation team member */

  @keyframes rotate-center{
    0%{transform:rotate(0)}
    100%{transform:rotate(360deg)}
    }

.team_member p {
    position: relative;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    color: white;
}

/* MODAL */
/* Sign up */
.modal {
    position:absolute;
    z-index: 1;
    width: 366px;
    background: #FFFFFF;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55124A;
    border-radius: 10px 10px 0 0;
    height: 56px;
    color: white;
}
.modal-header>p:nth-child(1), .modal-header>div {
    cursor: pointer;
}

.modal-header>p:nth-child(3){
    color: #FFBF4D;
    font-size: bold;
    cursor: pointer;
}
.modal-main>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-main>form>div {
    margin: 0.3rem 0;
}

.modal-main>form>div>input {
    border: 1px solid grey;
    border-radius: 52px;  
    padding: 9px 16px;  
    box-shadow: none;
}

.modal-main>form>div>div>label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.modal-main, .modal-header {
    padding: 2rem;
}

.modal-main>form>h3 {
    margin: 2rem 0;
    font-family: 'Wizard', serif;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 8;
}

  #cancel-btn {
    background: #FFFFFF;
    border-radius: 4px;
    align-items: center;
    padding: 6px 24px;
    border: none;
    cursor: pointer;
}

  #cancel-btn:hover {
    border: 1px solid black;
}


/* overlay */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 4;
  }

/* DETAIL */
/*  ---------------------TRIP DETAIL PAGE-------------------------- */
#detail-page {
    padding: 200px 100px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    color: white;
}

.alice.card {
    /* width: 100%; */
    overflow: hidden;
}

.alice.card>img {
    max-width: 100%;
}

.alice-img-det {
    /* width: 60%; */
    margin-right: 30px;
}
  
.lib_image img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.infoPlusBook {
    font-size: 2rem;
    margin-top: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Translucent white background */
    border-radius: 10px; /* Rounded corners */
    padding: 30px; /* Adds padding inside the box */
    overflow: hidden;
}

.content h1 {
    font-family: 'Wizard', serif;
} 

  .btn-book {
    margin: 20px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    #logo-hero-img {
        font-size: 6rem;
        margin-top: 6rem;
    }
    .magic_txt .hero-heading {
        font-size: 2.6rem;
        line-height: 65px;
        word-spacing: 5px;
        letter-spacing: 5px;
    }

    .main_section {
        width: 50%;
    }

    .cta-btn {
        font-size: 1.1rem;
        margin-right: 30px;
        padding: 10px 30px;
    }
    /* Footer */
    .social {
        margin-bottom: 20px;
      }
      .header-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .form-search {

        flex-direction: row;
    }

    .home_background {
        height: 20%;
    }

    .results {
        margin-top: -1rem;
    }
    .results>.card {
   
        width: 30%;
    }

    .header-menu>.btn-yellow {
        font-size: 1rem;
        border: none;
    }
}
@media only screen and (min-width: 1024) {


    .magic_txt .hero-heading {
        font-size: 3rem;
        line-height: 65px;
        word-spacing: 5px;
        letter-spacing: 5px;
    }

    .main_section {
        width: 60%;
        padding-top: 25%;
    }
    .results>.card {
   
        width: 20%;
    }
}

@media only screen and (min-width: 1440px) {
    .main_section {
        width: 70%;
    }
    .results>.card {
   
        width: 20%;
    }

}

