/* Fonts */
@font-face {
    font-family: 'Wizard';
    src: url('/fonts/wizard/WizardWorld-Simplified.ttf') format('ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Chivo';
    src: url('/fonts/chivo/Chivo-VariableFont_wght.ttf') format('ttf');
    font-display: swap;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
}


.logo img {
    width: 100px;
}

#hero{
    widows: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37,29,29,0.44)),
    url('https://res.cloudinary.com/drjyg98uv/image/upload/v1682682847/wider-world-web/concepto-libro-cuento-hadas-magi_lmmcca.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 32px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.navbar .menu a:not(:last-child){
    color: white;
    margin-left: 20px;
    font-size: 14px;
    transition-duration: 0.4s;
    letter-spacing: 0.5px;
}

.navbar .menu a:not(:last-child):hover {
    border-bottom: 2px solid white;
    padding-bottom: 10px;    
}

.navbar .menu .btn-signup {
    color: white;
    margin-left: 20px;
    padding: 10px 25px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}
.navbar .menu .btn-signup:hover {
    background: white;
    color: #2e2c2c;
}

.logo h2 {
    color: aliceblue;
    font-family: 'Wizard', serif;
}

.hero-box {
    width: 50%;
    margin-top: 200px;
}

.hero-box .hero-heading {
    color: white;
    font-size: 50px;
    line-height: 65px;
    font-family: 'Wizard', serif;
}

.hero-box .hero-desc {
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 30px 0;
}

.hero-box .btn-box {
    margin-top: 60px;
}

.hero-box .cta-btn {
    background: white;
    margin-right: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    color:#2e2c2c;
}

.hero-box .cta-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;

}

.hero-box .login {
    background: transparent;
    border: 1px solid white;
    color: white;
}